<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AppRep</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="userTipo('admin')">
          <a class="nav-link" routerLink="./users">Error <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="userTipo('normal')">
          <a class="nav-link" routerLink="./reps">Usuário Normal</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Sair</button>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<ngb-accordion #acc="ngbAccordion"  >
  <ngb-panel title="{{info.title}} - Repúblicas">
    <ng-template ngbPanelContent>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rep of reps">
          <td>{{rep.name}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="apagar(rep)"><i class="fa fa-times"></i></button>&nbsp;
            <button type="button" class="btn btn-outline-dark" (click)="mostrar(rep,contentModalMostrar)">Contas</button>&nbsp;
          </td>
        </tr>
        </tbody>        
      </table>
      

    </ng-template>
  </ngb-panel>
</ngb-accordion>
<button type="button" class="btn btn-outline-dark" (click)="adicionar(contentModalAdicionar)"><i class="fa fa-plus"></i> Adicionar Republica</button>



<ng-template #contentModalAdicionar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-adicionar-rep">Adicionar República</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #repFormAdicionar="ngForm">
      <div class="form-group">
        <label for="nome_adicionar">Nome</label>
        <div class="input-group">
          <input id="nome_adicionar" class="form-control" [(ngModel)]="repNovo.name" name="nome">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(repFormAdicionar)">Save</button>
  </div>

</ng-template>

<ng-template #contentModalMostrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-mostrar-rep">Contas República</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel *ngFor="let contas of repSelecionado.contas;let index=index" title="{{contas.data}}">
                <ng-template ngbPanelContent>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">Data</th>
                          <th scope="col">Preço</th>
                          <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let conta of contas.contas">
                            <td>{{conta.name}}</td>
                            <td>{{conta.data}}</td>
                            <td>{{conta.price}}</td>
                        </tr>
                        </tbody>        
                      </table>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(repFormAdicionar)">Adicionar Conta</button>
      </div>
    -->
</ng-template>