<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="{{info.title}} - Repúblicas">
    <ng-template ngbPanelContent>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">contas</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rep of reps">
          <td>{{rep.name}}</td>
          <td>{{rep.contas}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>